body {
  margin: 0;
  height: 100vh;
}

canvas {
  display:block;
}

#camera, #ship {
  font-family: verdana;
}

.debugLabel {
  color: lightgray;
  background-color: #000B18;
  display:inline;
  float:left;
  width: 24vw;
}